*{
    margin: 0;
    padding: 0; 
   box-sizing: border-box;
   font-family: "Akaya Telivigala","cursive";
   font-weight: 300;
}
.divmain{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: skyblue;
}
html{
    font-size: 62.5%;

}
.divinner{
    width: 45%;
    /* margin-top:%; */
    font-size: 22px;
    padding: 40px 80px;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0,0.4);

}
.divinner h1{
    font-size: 35px;
    font-weight: 300px;
    margin:1rem ,0,4rem,0;
    padding: 5px;
}
#Submit ,.btn{
       padding: 1rem,3rem;
       outline: none;
       font-size: 2rem;
       font-weight: 400;
       display: block;
       margin: auto;
       /* border: none; */
       text-transform: uppercase;
       color: #fff;
       background-color: #74b9ff;
       margin-top: 30px;
}
#submit:hover{
    background-color: blue;

}
#showscore{
    background-color: gray;
    padding: 3rem 4rem;
    margin-top: 3rem ;
    box-shadow: 0 1rem 1rem rgb(0, 0, 0,0.4);

}
#showscore h3{
    font-size: 3rem;
    text-align: center;
   
}
.scoreaArea{
    display: none;
    
}